// fonts start
@font-face {
    font-family: Montserrat-Bold;
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../../fonts/OpenSans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: OpenSans-Medium;
    src: url(../../fonts/OpenSans/OpenSans-Medium.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(../../fonts/OpenSans/OpenSans-Bold.ttf);
}
// fonts end



// variables start
$fontPrimaryBold: "Montserrat-Bold";
$fontPrimaryBoldExtra: "Montserrat-ExtraBold";
$fontSecondary: "OpenSans-Regular";
$fontSecondaryItalic: "OpenSans-Italic";
$fontSecondaryMedium: "OpenSans-Medium";
$fontSecondaryBold: "OpenSans-Bold";


$colorPrimary: #ffffff;
$colorSecondary: #000000;
$colorAccent: hsl(120, 82%, 49%);
$colorAccentShadow: hsl(120, 82%, 60%);
$colorAccentShadowOpacity: hsl(120, 82%, 60%, 0.25);
$colorAccentText: hsl(120, 98%, 2%);
$colorAccentTextLight: hsl(120, 2%, 98%);
$colorAccentTextLightOnDark: hsl(120, 15%, 85%);
$colorAccentBackground: hsl(120, 2%, 98%);
$colorAccentBackgroundDark: hsl(120, 98%, 2%);
$colorAccentSelection: hsl(120, 60%, 70%);
// variables end